[include mainsail.cfg]
[include MacrosAndPins.cfg]
[include tools.cfg]
[include led_progress.cfg]

 # This file contains common pin mappings for the BigTreeTech OctoPus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 32
rotation_distance: 40
endstop_pin: !PG14
position_endstop:0
position_max:400
homing_speed: 200

[tmc2209 stepper_x]
uart_pin: PC4
run_current: 1.100
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 99999

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 32
rotation_distance: 40
endstop_pin: !PG13
position_endstop: 0
position_max: 470
homing_speed: 200

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.100
sense_resistor: 0.110
stealthchop_threshold: 99999

[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 40#46.7712
gear_ratio: 60:16
endstop_pin: probe:z_virtual_endstop  #!PG12
position_min:  -10
#position_endstop: -1.4  #1.25
position_max: 430
homing_speed: 10
second_homing_speed: 1
 
[tmc2209 stepper_z]
uart_pin: PC6
run_current: 0.900
sense_resistor: 0.110
#stealthchop_threshold: 999999

[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 40#46.7712
gear_ratio: 60:16

[tmc2209 stepper_z1]
uart_pin: PC7
run_current: 0.900
sense_resistor: 0.110
#stealthchop_threshold: 999999

[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 40#46.7712
gear_ratio: 60:16

[tmc2209 stepper_z2]
uart_pin: PF2
run_current: 0.900
sense_resistor: 0.110
#stealthchop_threshold: 999999

[extruder]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
heater_pin: PA2 # HE0
sensor_pin:  PF4
microsteps: 16
rotation_distance: 7.823960880195599
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: ATC Semitec 104GT-2
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 285

[tmc2209 extruder]
uart_pin: PE4
run_current: 0.700
sense_resistor: 0.110
#stealthchop_threshold: 999999

[extruder1]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
heater_pin: PA3 # HE0
sensor_pin:  PF6
microsteps: 16
rotation_distance: 7.823960880195599
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: ATC Semitec 104GT-2
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 300


[tmc2209 extruder1]
uart_pin: PE1
run_current: 0.900
sense_resistor: 0.110
#stealthchop_threshold: 999999

[extruder2]
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
heater_pin: PB10 # HE0
sensor_pin:  PF5
microsteps: 16
rotation_distance: 7.823960880195599
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: ATC Semitec 104GT-2
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 300


[tmc2209 extruder2]
uart_pin: PD3
run_current: 0.700
sense_resistor: 0.110
#stealthchop_threshold: 999999

#-----------------------------------------------------------------------------------------------

[probe]
z_offset: -4.753 #11.35
X_offset: -24.287
Y_offset: -39.616
pin: !PG15
# samples: 3
# sample_retract_dist: 2.0
# lift_speed: 5.0
# samples_result: median
# samples_tolerance: 0.100
# samples_tolerance_retries: 5


[z_tilt]
# z_positions: 170,391.9   #205,391.9
#              403,-42.25   #-14.7,-68(-40.4)
#              -49.7,-42.25  #428,-68(-40.4)
# points: 0 ,10
#         340,10
#         340,305
#         0,305
z_positions: 235,380
             498,-92
             -46,-92
points: 10,5
        370,5
        370,320
        10,320

speed:200
horizontal_move_z: 7
# retries:1
# retry_tolerance:0.2



[bed_mesh]
speed: 200
horizontal_move_z: 2
mesh_min: 10,10
mesh_max: 360,320
probe_count: 5,4


[safe_z_home]
home_xy_position:192,145
speed: 200
z_hop_speed: 10.0


#[extruder1]
#step_pin: PF9
#dir_pin: PF10
#enable_pin: !PG2
#heater_pin: PA3 # HE1
#sensor_pin: PF5
#...

#[extruder2]
#step_pin: PC13
#dir_pin: PF0
#enable_pin: !PF1
#heater_pin: PB10 # HE2
#sensor_pin: PF6
#...

#[extruder3]
#step_pin: PE2
#dir_pin: PE3
#enable_pin: !PD4
#heater_pin: PB11 # HE3
#sensor_pin: PF7
#...

#[extruder4]
#step_pin: PE6
#dir_pin: PA14
#enable_pin: !PE0
#...

[heater_bed]
heater_pin: PA1
sensor_pin: PF3
sensor_type: NTC 100K MGB18-104F39050L32
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769
min_temp: 0
max_temp: 120

[fan_generic partcooling_1]
pin: PD14 

[fan_generic partcooling_2]
pin: PD13

[fan_generic partcooling_3]
pin: PD15

[heater_fan extruder]
pin: PE5 
heater: extruder

[heater_fan extruder1]
pin: PA8
heater: extruder1

[heater_fan extruder2]
pin: PD12
heater: extruder2

[neopixel bar]
pin:PB0
chain_count:13
color_order: GRB
initial_RED: 0.0
initial_GREEN: 1
initial_BLUE: 0.0
# initial_WHITE: 0.0
#   See the "led" section for information on these parameters.

# [fan]
# pin: PD14 # FAN0

# [heater_fan fan1]
# pin: PD14 # FAN1
# #heater_temp: 50.0

#[heater_fan fan2]
#pin: PD12 # FAN2

#[heater_fan fan3]
#pin: PD13 # FAN3

#[heater_fan fan4]
#pin: PD14 # FAN4

#[heater_fan fan5]
#pin: PD15 # FAN5

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_11002900085053424E363420-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[mpu9250]
i2c_mcu: rpi
i2c_bus: i2c.1

[resonance_tester]
accel_chip: mpu9250
probe_points:
    185, 170, 20  # an example

#restart_method: command

# setup for PA9, PA10 USART1_tx / rx directly connected to the RPI GPIO TX / RX pins
# These are the pins the OctoPus uses for its built in RPI 40 pin connector
# only connect GND, TX, RX - supply 5v power to the RPI separately
# do not cross over TX/RX - it is done internally on the OctoPus PCB.
# Use "sudo raspi-config" to disable the serial terminal - but enable the serial port.
# When running "make menuconfig" you must un-select the USB Serial check box

# [input_shaper]
# shaper_freq_x: 39.2
# shaper_type_x: mzv
# shaper_freq_y: 27.8
# shaper_type_y: mzv


[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3500
max_z_velocity: 12
max_z_accel: 50


########################################
# TMC2208 configuration
########################################

#[tmc2208 stepper_x]
#uart_pin: PC4
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2208 stepper_y]
#uart_pin: PD11
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2208 stepper_z]
#uart_pin: PC6
#run_current: 0.650
#hold_current: 0.450
#stealthchop_threshold: 999999

#[tmc2208 extruder]
#uart_pin: PC7
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2208 extruder1]
#uart_pin: PF2
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2208 extruder2]
#uart_pin: PE4
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

#[tmc2208 extruder3]
#uart_pin: PE1
#run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999

#[tmc2208 extruder4]
#uart_pin: PD3
#run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999


########################################
# TMC2130 configuration
########################################

#[tmc2130 stepper_x]
#cs_pin: PC4
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 0
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5

#[tmc2130 stepper_y]
#cs_pin: PD11
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 0
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5

#[tmc2130 stepper_z]
#cs_pin: PC6
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 0
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5

#[tmc2130 extruder]
#cs_pin: PC7
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 0
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5

#[tmc2130 extruder1]
#cs_pin: PF2
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 0
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5

#[tmc2130 extruder2]
#cs_pin: PE4
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 0
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5

#[tmc2130 extruder3]
#cs_pin: PE1
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 0
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5


#[tmc2130 extruder4]
#cs_pin: PD3
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 0
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

######################################################################
# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
######################################################################

#[display]
#lcd_type: st7920
#cs_pin: EXP1_4
#sclk_pin: EXP1_5
#sid_pin: EXP1_3
#encoder_pins: ^EXP2_5, ^EXP2_3
#click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

#[output_pin beeper]
#pin: EXP1_1


######################################################################
# "RepRapDiscount 2004 Smart Controller" type displays
######################################################################

#[display]
#lcd_type: hd44780
#rs_pin: EXP1_4
#e_pin: EXP1_3
#d4_pin: EXP1_5
#d5_pin: EXP1_6
#d6_pin: EXP1_7
#d7_pin: EXP1_8
#encoder_pins: ^EXP2_3, ^EXP2_5
#click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

#[output_pin beeper]
#pin: EXP1_1

######################################################################
#  Mini 12864Panel (with neopixel backlight leds)
######################################################################

#[display]
#lcd_type: uc1701
#cs_pin: EXP1_3
#a0_pin: EXP1_4
#rst_pin: EXP1_5
#encoder_pins: ^EXP2_5, ^EXP2_3
#click_pin: ^!EXP1_2
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
#contrast: 63
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#spi_software_sclk_pin: PA5

#[output_pin beeper]
#pin: EXP1_1

#[neopixel btt_mini12864]
#pin: EXP1_6
#chain_count: 3
#color_order: RGB
#initial_RED: 0.4
#initial_GREEN: 0.4
#initial_BLUE: 0.4

######################################################################
#  BigTreeTtech TFT TouchSCreen emulated 12864 mode
######################################################################

#[display]
#lcd_type: emulated_st7920
#spi_software_miso_pin: PA6
#spi_software_mosi_pin: EXP1_3
#spi_software_sclk_pin: EXP1_5
#en_pin: EXP1_4
#encoder_pins: ^EXP2_5, ^EXP2_3
#click_pin: ^!EXP1_2

#[output_pin beeper]
#pin: EXP1_1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.069735, 0.002235, -0.005265, -0.007765, -0.010265, -0.032765
#*# 	0.072235, -0.012765, -0.025265, -0.050265, -0.092765, -0.160265
#*# 	0.024735, -0.032765, -0.022765, -0.045265, -0.075265, -0.132765
#*# 	-0.040265, -0.055265, 0.002235, 0.014735, 0.014735, 0.039735
#*# x_count = 6
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 52.0
#*# max_x = 399.95
#*# min_y = 5.0
#*# max_y = 320.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.726
#*# pid_ki = 4.725
#*# pid_kd = 63.809
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.736
#*# pid_ki = 1.623
#*# pid_kd = 860.397
